<div class="chat-area position-relative">
  <ng-container
    *ngIf="
      (!userChat?.roomId && userChat?.isAccepted === 'N') ||
      (userChat?.Id && !userChat?.roomId)
    "
  >
    <div class="d-flex flex-column align-items-center mt-5">
      <div
        class="d-flex flex-column justify-content-center align-items-center gap-3 my-8 p-6 rounded-3 box-bg w-75"
      >
        <img
          [src]="userChat.ProfilePicName"
          class="w-60-px h-60-px"
          alt="image"
          onerror="this.onerror=null;this.src='/assets/images/default-profile.jpg';"
        />
        <h5>send invite to {{ userChat?.Username }} for chat</h5>
        <div>
          <button class="btn btn-danger mx-3" (click)="onCancel()">
            Cancel
          </button>
          <button class="btn btn-primary mx-3" (click)="createChatRoom()">
            Invite
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- ui fourth -->
  <ng-container *ngIf="!userChat?.Username && !userChat?.groupId">
    <div class="d-flex flex-column align-items-center mt-5">
      <div
        class="d-flex flex-row justify-content-center align-items-center gap-5 my-8 p-6 w-75 rounded-3 box-bg"
      >
        <img
          [src]="sharedService?.userData?.ProfilePicName"
          class="rounded-circle w-60-px h-60-px"
          alt="image"
          onerror="this.onerror=null;this.src='/assets/images/default-profile.jpg';"
        />
        <div>
          <h5>welcome</h5>
          <h5>{{ sharedService?.userData?.Username }}</h5>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="userChat.roomId || userChat.groupId">
    <div class="main">
      <div
        class="chat-head py-2 px-3 position-relative"
        *ngIf="userChat?.createdBy"
      >
        <div class="d-center justify-content-between h-58-px">
          <div
            class="d-flex gap-4 align-items-center c-pointer"
            (click)="userChat.groupId ? groupEditDetails(groupData) : ''"
          >
            <img
            [src]="userChat?.profileImage || userChat?.ProfilePicName || '/assets/images/avtar/placeholder-user.png'"
              class="rounded-circle header-image"
              alt="image"
              onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
            />
            <div class="d-flex align-items-baseline">
              <div class="profile-status">
                <h5 class="m-0">
                  <a class="m-0">{{
                    groupData?.groupName ||
                      userChat?.groupName ||
                      userChat?.Username
                  }}</a>
                </h5>
                <ng-container *ngIf="userChat.roomId">
                  <span class="mdtxt">{{ isOnline ? "online" : "" }}</span>
                </ng-container>
                <ng-container *ngIf="userChat.groupId">
                  <span>{{ groupData?.members }} participants</span>
                </ng-container>
              </div>
              <fa-icon
                [icon]="['fas', 'gear']"
                class="font-20-px m-1 ms-3 d-none d-sm-flex"
                *ngIf="userChat.groupId"
              />
            </div>
          </div>
          <div
            class="d-flex gap-3 align-items-center"
            *ngIf="userChat.isAccepted === 'Y'"
          >
            <div class="ongoing-call d-center position-relative" *ngIf="isOnCall && !callId">
              <a routerLinkActive="active" (click)="goToOnGoingCall()">
                <fa-icon [icon]="['fas', 'phone-volume']" class="font-20-px" />
              </a>
            </div>
            <a class="d-none d-sm-flex" (click)="openSearch(isSearch)">
              <fa-icon
                [icon]="['fas', 'search']"
                class="font-20-px m-1 ms-3 d-flex c-pointer"
              />
            </a>
            <a
              class="nav-icon cursor d-sm-none d-flex align-items-center gap-2"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Video Call"
              (click)="startCall()"
              ><fa-icon [icon]="['fas', 'phone']" class="font-20-px m-1" />
            </a>

            <div
              ngbDropdown
              class="avatar-item online-status"
              [ngClass]="!sidebarClass ? 'd-none d-md-block' : 'd-none'"
            >
              <button
                ngbDropdownToggle
                class="abs-activity d-center smtxt"
                [ngClass]="{
                  'abs-active ': sharedService.userData.userStatus === 'active',
                  'abs-away': sharedService.userData.userStatus === 'away',
                  'abs-dnd': sharedService.userData.userStatus === 'dnd',
                  'abs-invisible':
                    sharedService.userData.userStatus === 'invisible'
                }"
              ></button>
              <div ngbDropdownMenu class="dropdown-menu">
                <div class="dropdown-preferences">
                  <div class="d-flex flex-column pe-2">
                    <div
                      class="c-pointer d-flex justify-content-between align-items-baseline"
                    >
                      <h6
                        ngbDropdownItem
                        class="d-flex w-100"
                        (click)="profileStatus('active')"
                      >
                        Active
                      </h6>
                      <fa-icon
                        [icon]="['fas', 'check']"
                        class="font-20-px"
                        *ngIf="sharedService.userData.userStatus === 'active'"
                      />
                    </div>
                    <div
                      class="c-pointer d-flex align-items-baseline justify-content-between"
                    >
                      <h6
                        ngbDropdownItem
                        class="d-flex w-100"
                        (click)="profileStatus('away')"
                      >
                        Away
                      </h6>
                      <fa-icon
                        [icon]="['fas', 'check']"
                        class="font-20-px"
                        *ngIf="sharedService.userData.userStatus === 'away'"
                      />
                    </div>
                    <div
                      class="c-pointer d-flex align-items-baseline justify-content-between"
                    >
                      <h6
                        ngbDropdownItem
                        class="d-flex w-100"
                        (click)="profileStatus('dnd')"
                      >
                        Do not disturb
                      </h6>
                      <fa-icon
                        [icon]="['fas', 'check']"
                        class="font-20-px"
                        *ngIf="sharedService.userData.userStatus === 'dnd'"
                      />
                    </div>
                    <div
                      class="c-pointer d-flex align-items-baseline justify-content-between"
                    >
                      <h6
                        ngbDropdownItem
                        class="d-flex w-100"
                        (click)="profileStatus('invisible')"
                      >
                        Invisible
                      </h6>
                      <fa-icon
                        [icon]="['fas', 'check']"
                        class="font-20-px"
                        *ngIf="
                          sharedService.userData.userStatus === 'invisible'
                        "
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a (click)="groupEditDetails(groupData)">
              <fa-icon
                [icon]="['fas', 'gear']"
                class="font-20-px m-1 ms-3 d-sm-none d-flex"
                *ngIf="userChat.groupId"
              />
            </a>
            <div class="gap-3 d-none d-sm-flex flex-wrap">
              <a
                [ngClass]="sidebarClass ? 'd-none' : ''"
                *ngIf="userChat.roomId || userChat.groupId"
                class="nav-icon cursor"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Media Gallery"
                (click)="openMediaGallery()"
                ><fa-icon [icon]="['fas', 'photo-film']" class="font-20-px m-1"
              /></a>
              <a
                *ngIf="userChat.roomId"
                class="nav-icon cursor"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Create Group"
                (click)="createGroup()"
                ><fa-icon [icon]="['fas', 'users']" class="font-20-px m-1"
              /></a>
              <a
              *ngIf="callRoomId !== userChat.roomId || sharedService?.getExistingCallData()?.roomId !== userChat.roomId"
              class="nav-icon cursor"
              data-toggle="tooltip"
              data-placement="bottom"
              title="{{
                isOnCall ? 'Add in Call' : 'Video Call'
              }}"
              (click)="startCall()"
            >
              <fa-icon
                *ngIf="!isOnCall"
                [icon]="['fas', 'phone']"
                class="font-20-px m-1"
                />
                <fa-icon
                  *ngIf="isOnCall"
                  [icon]="['fas', 'phone-volume']"
                  class="font-20-px m-1"
                />
              </a>
              <button  (click)="openProfileMenuModal()" class="info-area position-relative">
                <fa-icon [icon]="['fas', 'ellipsis-v']" />
              </button>
            </div>
            <div ngbDropdown class="avatar-item online-status d-flex d-sm-none">
              <!--  -->
              <ng-container>
                <button ngbDropdownToggle class="d-center smtxt">
                  <fa-icon [icon]="['fas', 'ellipsis-v']" />
                </button>
                <div ngbDropdownMenu class="dropdown-menu">
                  <div class="dropdown-preferences">
                    <div class="d-flex flex-column">
                      <div
                        class="c-pointer d-flex align-items-baseline gap-2"
                        ngbDropdownItem
                      >
                        <a
                          [ngClass]="sidebarClass ? 'd-none' : ''"
                          *ngIf="userChat.roomId || userChat.groupId"
                          class="nav-icon cursor d-flex align-items-center gap-2"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="Media Gallery"
                          (click)="openMediaGallery()"
                          ><fa-icon
                            [icon]="['fas', 'photo-film']"
                            class="font-20-px m-1"
                          />
                          <span>Gallery</span>
                        </a>
                      </div>
                      <div
                        class="c-pointer d-flex align-items-baseline gap-2"
                        ngbDropdownItem
                      >
                        <a
                          *ngIf="userChat.roomId"
                          class="nav-icon cursor d-flex align-items-center gap-2"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="Create Group"
                          (click)="createGroup()"
                          ><fa-icon
                            [icon]="['fas', 'users']"
                            class="font-20-px m-1"
                          />
                          <span>Create Group</span>
                        </a>
                      </div>
                      <div
                        class="c-pointer d-flex align-items-baseline gap-2"
                        ngbDropdownItem
                      >
                        <a
                          (click)="openSearch(isSearch)"
                          class="nav-icon cursor d-flex align-items-center gap-2"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="Search"
                        >
                          <fa-icon
                            [icon]="['fas', 'search']"
                            class="font-20-px m-1 ms-3 d-flex c-pointer"
                          />
                          <span>Search</span>
                        </a>
                      </div>
                      <div
                      class="c-pointer d-flex align-items-baseline gap-2"
                      ngbDropdownItem
                    >
                      <a
                        class="nav-icon cursor d-flex align-items-center gap-2"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Video Call"
                        (click)="startCall()"
                        ><fa-icon
                          [icon]="['fas', 'phone']"
                          class="font-20-px m-1"
                        />
                        <span>Start Call</span>
                      </a>
                    </div>
                    <div
                    class="c-pointer d-flex align-items-baseline gap-2"
                    ngbDropdownItem
                  >
                    <a
                      class="nav-icon cursor d-flex align-items-center gap-2"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="View Profile"
                      (click)="openProfileMenuModal()"
                      ><fa-icon
                        [icon]="['fas', 'user']"
                        class="font-20-px m-1"
                      />
                      <span>View Profile</span>
                    </a>
                  </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <ng-container *ngIf="isSearch">
          <div class="searchChatBar">
            <div class="d-flex gap-3">
              <div class="input-area py-2 d-flex align-items-center w-100">
                <input
                  type="text"
                  [(ngModel)]="searchQuery"
                  (change)="onSearch($event)"
                  (keydown.enter)="nextHighlighted()"
                  (keydown.shift.enter)="previousHighlighted()"
                  placeholder="Find a message in current conversation"
                />
            <fa-icon [icon]="['fas', 'xmark']" *ngIf="searchQuery" (click)="clearSearchQuery()" />
              </div>
              <div class="d-flex gap-2">
                <button (click)="nextHighlighted()">
                  <fa-icon
                    [icon]="['fas', 'circle-chevron-up']"
                    class="font-24-px me-2"
                  ></fa-icon>
                </button>
                <button (click)="previousHighlighted()">
                  <fa-icon
                    [icon]="['fas', 'circle-chevron-down']"
                    class="font-24-px me-2"
                  ></fa-icon>
                </button>
              </div>
              <button (click)="openSearch(isSearch)">Cancel</button>
            </div>
          </div>
        </ng-container>
      </div>

      <div
        [ngClass]="sidebarClass ? 'chat-content-sidepanel' : 'chat-content'"
        class="position-relative"
        #chatContent
        (scroll)="onScroll($event)"
      >
        <ng-container
          *ngIf="
            userChat?.createdBy !== profileId && userChat.isAccepted === 'N'
          "
        >
          <div class="d-flex flex-column align-items-center mt-5">
            <div
              class="d-flex flex-column justify-content-center align-items-center gap-3 my-8 p-6 rounded-3 box-bg"
            >
              <img
                [src]="userChat.ProfilePicName"
                class="w-60-px h-60-px"
                alt="image"
                onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
              />
              <h5>{{ userChat?.Username }} wants to connect with you</h5>
              <div>
                <button class="btn btn-danger mx-3" (click)="onCancel()">
                  Cancel
                </button>
                <button class="btn btn-primary mx-3" (click)="acceptRoom()">
                  Accept
                </button>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- ui third -->
        <ng-container
          *ngIf="
            userChat?.createdBy === profileId && userChat.isAccepted === 'N'
          "
        >
          <div class="d-flex flex-column align-items-center mt-5">
            <div
              class="d-flex flex-column justify-content-center align-items-center gap-3 my-8 p-6 rounded-3 box-bg"
            >
              <img
                [src]="userChat.ProfilePicName"
                class="rounded-circle w-60-px h-60-px"
                alt="image"
                onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png'"
              />
              <h5>{{ userChat?.Username }} has not yet accepted the invite</h5>
            </div>
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            (userChat?.roomId || userChat?.groupId) &&
            userChat.isAccepted === 'Y'
          "
        >
          <!-- <div
            class="d-center m-3 text-white c-pointer"
            (click)="loadMoreChats()"
            *ngIf="hasMoreData"
          >
            <fa-icon
              [icon]="['fas', 'refresh']"
              class="font-24-px me-2"
            ></fa-icon>
            <span>Loadmore</span>
          </div> -->
          <ul
            class="py-2 px-3 cus-scrollbar bottom-0 main-chat-box"
          >
          <ng-container *ngFor="let msg of filteredMessageList">
            <span class="d-flex w-100 justify-content-center custom-border">
              {{ msg?.date || "Today" }}</span
            >
            <ng-container *ngFor="let message of msg?.messages; let i = index">
              <ng-container *ngIf="message?.createdDate">
                <div class="d-flex" [ngClass]="message?.sentBy === profileId ? 'flex-row-reverse' : 'flex-row'">
                  <span class="font-12-px data-text-color" [ngClass]="message?.sentBy === profileId ? 'me-3' : 'ms-3'">
                    <span class="font-12-px" *ngIf="message?.sentBy !== profileId">{{ message?.Username }},</span>
                    {{ displayLocalTime(message?.createdDate) }}</span>
                </div>
              </ng-container>

              <li [class.you]="message?.sentBy !== profileId" [class.me]="message?.sentBy === profileId" #message
                [class.highlighted]="i === currentHighlightedIndex">

                <div class="d-flex drop-options">
                  <!-- Options Dropdown -->
                  <div class="btn-group d-flex options" *ngIf="message?.messageMedia || message?.messageText">
                    <div ngbDropdown #editPopup="ngbDropdown" class="d-inline-block">
                      <button class="dropdown-btn" ngbDropdownToggle>
                        <fa-icon [icon]="['fas', 'ellipsis-v']" class="font-20-px"></fa-icon>
                      </button>
                      <div ngbDropdownMenu class="dropdown-menu" (mouseleave)="editPopup.close()">
                        <button ngbDropdownItem (click)="replyMsg(message)">
                          <a class="droplist d-flex align-items-center gap-2">
                            <fa-icon [icon]="['fas', 'reply']"></fa-icon>
                            <span class="data-text-color">Reply</span>
                          </a>
                        </button>
                        <button ngbDropdownItem (click)="forwardMsg(message)">
                          <a class="droplist d-flex align-items-center gap-2">
                            <fa-icon class="forward-msg" [icon]="['fas', 'reply']"></fa-icon>
                            <span class="data-text-color">Forward</span>
                          </a>
                        </button>
                        <ng-container *ngIf="message?.messageMedia || message?.metaData?.url">
                          <button ngbDropdownItem>
                            <a class="droplist d-flex align-items-center gap-2"
                              [appCopyClipboard]="message?.messageMedia || message?.metaData?.url">
                              <fa-icon [icon]="['fas', 'link']"></fa-icon>
                              <span class="data-text-color">Copy link</span>
                            </a>
                          </button>
                        </ng-container>
                        <ng-container *ngIf="message?.messageMedia">
                          <button ngbDropdownItem (click)="downloadMedia(message?.messageMedia)">
                            <a class="droplist d-flex align-items-center gap-2">
                              <fa-icon [icon]="['fas', 'download']"></fa-icon>
                              <span class="data-text-color">Download</span>
                            </a>
                          </button>
                        </ng-container>
                        <ng-container *ngIf="message?.sentBy === profileId">
                          <button ngbDropdownItem (click)="editMsg(message)" *ngIf="message?.messageText">
                            <a class="droplist d-flex align-items-center gap-2">
                              <fa-icon [icon]="['fas', 'pen-to-square']" />
                              <span class="data-text-color">Edit</span>
                            </a>
                          </button>
                          <button ngbDropdownItem (click)="deleteMsg(message, msg?.date)">
                            <a class="droplist d-flex align-items-center gap-2">
                              <fa-icon [icon]="['fas', 'trash-can']" />
                              <span class="data-text-color">Delete</span>
                            </a>
                          </button>
                        </ng-container>
                      </div>
                    </div>
                  </div>

                  <!-- Message Content -->
                  <div class="d-flex flex-column">
                    <div *ngIf="message?.messageMedia">
                      <ng-container
                        *ngTemplateOutlet="renderMedia; context: { media: message?.messageMedia }"></ng-container>
                    </div>
                    <div *ngIf="message?.messageText || message?.parentMessageId"
                      class="message d-flex gap-3 flex-column">
                      <!-- Parent Message -->
                      <ng-container *ngIf="message?.parentMessageId">
                        <div class="parent-replay-alt">
                          <fa-icon [icon]="['fas', 'reply']"></fa-icon>
                          <ng-container
                            *ngTemplateOutlet="renderParentMessage; context: { parentMessage: message?.parentMessage }"></ng-container>
                        </div>
                      </ng-container>
                      <!-- Message Text -->
                      <div>
                        <!-- <p *ngIf="message?.messageText" class="m-0 message-text-custom"
                          [innerHTML]="message?.messageText | highlight: searchQuery"></p> -->
                          <p
                          *ngIf="message?.messageText !== null"
                          class="m-0 message-text-custom"
                          [innerHTML]="
                            (message?.sentBy === profileId
                              ? (message?.messageText === 'Missed call' ? 'No answer' : message?.messageText)
                              : (message?.messageText | highlight: searchQuery) + 
                                ((message?.messageText === 'Declined call' || message?.messageText === 'Missed call') && userChat.groupId 
                                  ? '&nbsp;from&nbsp;' + '@' + message?.Username 
                                  : '')
                            )" 
                        ></p>                        

                        <div class="chat-meta" *ngIf="message?.metaData">
                          <app-post-meta-data-card [post]="message?.metaData" class="pt-2"></app-post-meta-data-card>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <ng-template #renderMedia let-media="media">
                <ng-container *ngIf="isPdf(media); else imageMedia">
                  <div class="message" (click)="pdfView(media)">
                    <fa-icon [icon]="['fas', 'file']" class="c-pointer close-icon font-44-px"></fa-icon>
                    <p class="pdf-name text-truncate mb-0">{{ pdfmsg }}</p>
                  </div>
                </ng-container>
                <ng-template #imageMedia>
                  <ng-container *ngIf="isGif(media); else notGif">
                    <div class="message">
                      <img [src]="media" loading="eager" class="emoji-style h-60-px" alt="Emoji" draggable="false" />
                    </div>
                  </ng-container>
                  <ng-template #notGif>
                    <ng-container *ngIf="isVideoFile(media); else imageContent">
                      <video class="w-100 h-200-px replay-message-media" [src]="media" controls></video>
                    </ng-container>
                    <ng-template #imageContent>
                      <div class="replay-message-media">
                        <app-img-preview class="msgImage" classes="h-180-px" [src]="media"></app-img-preview>
                      </div>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </ng-template>

              <ng-template #renderParentMessage let-parentMessage="parentMessage">
                <ng-container *ngIf="parentMessage?.messageMedia; else textOnly">
                  <ng-container *ngIf="!isFileOrVideo(parentMessage?.messageMedia); else filePreview">
                    <div class="w-100-px h-100-px">
                      <app-img-preview classes="h-100-px" [src]="parentMessage?.messageMedia"></app-img-preview>
                    </div>
                  </ng-container>
                  <ng-template #filePreview>
                    <div class="w-100-px h-100-px" (click)="downloadMedia(parentMessage?.messageMedia)">
                      <fa-icon [icon]="['fas', 'file']" class="c-pointer close-icon font-40-px"></fa-icon>
                      <span class="c-pdf-show">{{ parentMessage?.messageMedia }}</span>
                    </div>
                  </ng-template>
                </ng-container>
                <ng-template #textOnly>
                  <p *ngIf="parentMessage?.messageText" class="m-0" [innerHTML]="parentMessage?.messageText"></p>
                </ng-template>
                <span class="font-12-px">{{ parentMessage?.Username }}, {{ parentMessage?.createdDate | date:
                  'dd-MM-yyyy' }}</span>
              </ng-template>
            </ng-container>
          </ng-container>
          </ul>
          <app-inline-loader *ngIf="isFileUploadInProgress && !progressValue" />
          <ng-container *ngIf="progressValue">
            <div class="padding position-fixed top-50 start-50 end-50">
              <div class="row ps-lg-20">
                <div class="col-12">
                  <div class="progress">
                    <span>
                      <span
                        class="progress-bar"
                        [ngStyle]="{
                          transform: 'rotate(' + updateProgress() + 'deg)'
                        }"
                      ></span>
                    </span>
                    <div class="progress-value">{{ progressValue }}</div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="filteredMessageList?.length">
            <ng-container
              *ngIf="
                userChat?.groupId ||
                (userChat?.roomId && readMessageRoom === 'Y')
              "
            >
              <div class="d-flex flex-row-reverse pb-2 pe-6 gap-1" ngbDropdown>
                <ng-container
                  *ngFor="
                    let item of userChat?.groupId ? readMessagesBy : [userChat]
                  "
                >
                  <div
                    class="c-pointer"
                    [title]="item.Username || item.FirstName"
                    ngbDropdownToggle
                  >
                    <img
                      loading="lazy"
                      data-src="{{ item.ProfilePicName }}"
                      class="rounded-circle h-20-px w-20-px"
                      draggable="false"
                      onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
                    />
                  </div>
                </ng-container>
                <div ngbDropdownMenu class="w-228-px">
                  <div class="h6 ms-3 btn-link">
                    READ BY {{ userChat?.groupId ? readMessagesBy.length : "" }}
                  </div>
                  <ng-container
                    *ngFor="
                      let item of userChat.groupId ? readMessagesBy : [userChat]
                    "
                  >
                    <button ngbDropdownItem>
                      <div class="d-flex align-items-center gap-2">
                        <img
                          loading="lazy"
                          data-src="{{ item.ProfilePicName }}"
                          class="rounded-circle h-28-px w-28-px"
                          draggable="false"
                          onerror="this.onerror=null;this.src='/assets/images/avtar/placeholder-user.png';"
                        />
                        <div class="replay-text">
                          {{ item.Username || item.FirstName }}
                        </div>
                      </div>
                    </button>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>

      <div
        class="text-end chat-footer position-relative w-100 px-sm-6 bg-color"
        *ngIf="userChat.isAccepted === 'Y'"
      >
        <ng-container *ngIf="viewUrl && !pdfName">
          <div class="position-absolute mt-5 p-3 preview-chat-media">
            <fa-icon
              *ngIf="replyMessage.Username && replyMessage.createdDate"
              class="float-start me-2"
              [icon]="['fas', 'reply']"
            />
            <img
              loading="lazy"
              data-src="{{ viewUrl }}"
              class="w-100-px h-100-px rounded-4"
              alt="icon"
              onerror="this.onerror=null;"
            />
            <fa-icon
              [icon]="['fas', 'xmark']"
              class="position-absolute top-0 start-100 translate-middle badge bg-danger p-1 font-12-px c-pointer c-icon-color"
              role="button"
              (click)="removePostSelectedFile()"
            />
            <ng-container
              *ngIf="replyMessage.Username && replyMessage.createdDate"
            >
              <div class="d-flex">
                <span class="font-12-px mt-2 replay-border"
                  >{{ replyMessage.Username }},
                  {{ replyMessage.createdDate | date : "dd-MM-yyyy" }}</span
                >
              </div>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="selectedFile?.type?.includes('video/')">
          <div class="position-absolute mt-5 p-3 preview-chat-media">
            <fa-icon
              *ngIf="replyMessage.Username && replyMessage.createdDate"
              class="float-start me-2"
              [icon]="['fas', 'reply']"
            />
            <video
              class="w-100 h-200-px"
              src="{{ viewUrl }}"
              controls
              autoplay="autoplay"
            ></video>
            <fa-icon
              [icon]="['fas', 'xmark']"
              class="position-absolute top-0 start-100 translate-middle badge bg-danger p-1 font-12-px c-pointer c-icon-color"
              role="button"
              (click)="removePostSelectedFile()"
            />
            <ng-container
              *ngIf="replyMessage.Username && replyMessage.createdDate"
            >
              <div class="d-flex">
                <span class="font-12-px mt-2 replay-border"
                  >{{ replyMessage.Username }},
                  {{ replyMessage.createdDate | date : "dd-MM-yyyy" }}</span
                >
              </div>
            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="pdfName">
          <div class="position-absolute mt-5 p-3 preview-chat-media">
            <fa-icon
              *ngIf="replyMessage.Username && replyMessage.createdDate"
              class="float-start me-2"
              [icon]="['fas', 'reply']"
            />
            <fa-icon
              [icon]="['fas', 'file']"
              class="c-pointer close-icon font-40-px"
            />
            <span
              class="c-pdf-show w-100-px"
              [title]="pdfName.replaceAll('%', ' ')"
              >{{ pdfName.replaceAll("%", " ") }}</span
            >
            <fa-icon
              [icon]="['fas', 'xmark']"
              class="position-absolute top-0 translate-middle badge bg-danger p-1 font-12-px c-pointer c-icon-color"
              role="button"
              (click)="removePostSelectedFile()"
            />
            <ng-container
              *ngIf="replyMessage.Username && replyMessage.createdDate"
            >
              <div class="d-flex">
                <span class="font-12-px replay-border"
                  >{{ replyMessage.Username }},
                  {{ replyMessage.createdDate | date : "dd-MM-yyyy" }}</span
                >
              </div>
            </ng-container>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            typingData?.isTyping &&
            userChat.roomId === typingData.roomId &&
            userChat.groupId === typingData.groupId &&
            typingData.profileId !== profileId
          "
        >
          <span class="mdtxt d-flex position-absolute bottom-100">{{
            typingData.Username + " is typing..."
          }}</span>
        </ng-container>

        <ng-container *ngIf="replyMessage?.msgText">
          <div class="position-absolute replay-chat mb-0 mb-lg-0">
            <fa-icon class="float-end" [icon]="['fas', 'reply']" />
            <div class="replay-message-box">
              <p
                *ngIf="replyMessage.msgText !== null"
                class="m-0"
                [innerHTML]="replyMessage.msgText"
              ></p>
            </div>
            <fa-icon
              [icon]="['fas', 'xmark']"
              class="position-absolute top-0 translate-middle badge bg-danger p-1 font-12-px c-pointer c-icon-color"
              role="button"
              (click)="removeReplay()"
            />
            <div class="d-flex">
              <span class="font-12-px replay-border"
                >{{ replyMessage.Username }},
                {{ replyMessage.createdDate | date : "dd-MM-yyyy" }}</span
              >
            </div>
          </div>
        </ng-container>

        <form
          class="p-2 message-content"
          [ngClass]="!sidebarClass ? 'p-sm-3' : ''"
        >
        <ng-container *ngIf="showButton">
          <button
            class="scrollToBottom d-flex justify-content-center align-items-center"
            (click)="goToFirstPage()"
            [ngClass]="sidebarClass ? 'active' : ''"
          >
            <fa-icon class="c-icon-color" [icon]="['fas', 'angles-up']"></fa-icon>
          </button>
        </ng-container>
          <div
            class="d-flex align-items-sm-center align-items-end flex-column flex-sm-row mt-2 gap-3"
          >
            <div class="form-content p-0 d-flex gap-2 align-items-center w-100">
              <div
                [ngClass]="sidebarClass ? 'd-none' : 'd-sm-flex'"
                class="file-input d-flex d-none gap-1 gap-md-2"
              >
                <div class="file-upload">
                  <label class="file">
                    <input
                      type="file"
                      [(ngModel)]="chatObj.msgMedia"
                      [ngModelOptions]="{ standalone: true }"
                      name="doc"
                      accept="application/*"
                      (change)="onPostFileSelect($event)"
                    />
                    <span class="file-custom border-0 m-1 d-grid text-center">
                      <fa-icon
                        [icon]="['fas', 'paperclip']"
                        class="font-20-px"
                      />
                    </span>
                  </label>
                </div>
                <div class="file-upload">
                  <label class="file">
                    <input
                      type="file"
                      [(ngModel)]="chatObj.msgMedia"
                      [ngModelOptions]="{ standalone: true }"
                      name="image"
                      accept="image/*"
                      (change)="onPostFileSelect($event)"
                    />
                    <span class="file-custom border-0 m-1 d-grid text-center">
                      <fa-icon [icon]="['fas', 'image']" class="font-20-px" />
                    </span>
                  </label>
                </div>
                <div class="file-upload">
                  <label class="file">
                    <input
                      type="file"
                      [(ngModel)]="chatObj.msgMedia"
                      [ngModelOptions]="{ standalone: true }"
                      id="fileInput"
                      (change)="onPostFileSelect($event)"
                      accept="video/*"
                    />
                    <span class="file-custom border-0 m-1 d-grid text-center">
                      <fa-icon [icon]="['fas', 'video']" class="font-20-px" />
                    </span>
                  </label>
                </div>
                <!-- <div class="file-upload">
                  <div
                    ngbDropdown
                    placement="top-start"
                    class="select-emaojies"
                  >
                    <button
                      type="button"
                      id="emojiModel"
                      ngbDropdownToggle
                      title="Emojis"
                    >
                      <img
                        src="https://s3.us-east-1.wasabisys.com/freedom-social/freedom-emojies/Nerd.gif"
                        class="emoji-select h-40-px w-40-px"
                        alt="Emoji"
                      />
                    </button>
                    <div
                      ngbDropdownMenu
                      aria-labelledby="emojiModel"
                      class="emojiModelStyle"
                    >
                      <div class="emoji-container">
                        <div
                          *ngFor="let emoji of emojiPaths"
                          (click)="selectEmoji(emoji)"
                        >
                          <img
                            data-src="{{ emoji }}"
                            loading="eager"
                            class="emoji-style"
                            alt="Emoji"
                            draggable="false"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="group-input-field position-relative w-100">
                <app-tag-user-input
                  class="message-input-field message-text"
                  placeholder="Message.."
                  [value]="messageInputValue"
                  [isShowMetaLoader]="false"
                  [isAllowTagUser]="userChat.roomId ? false : true"
                  [isShowMetaPreview]="false"
                  [isCopyImagePreview]="false"
                  [isShowEmojis]="true"
                  [placement]="'top-start'"
                  [isCustomeSearch]="
                    userChat?.groupId ? userChat?.groupId : null
                  "
                  (onDataChange)="onTagUserInputChangeEvent($event)"
                  (keypress)="startTypingChat(true)"
                  (keydown.enter)="this.chatObj.msgText !== null ? uploadPostFileAndCreatePost() : null"
                  (keydown.shift.enter)="$event.stopPropagation()"
                />
                <!-- (keydown)="delayedStartTypingChat()" -->
              </div>
              <!-- (keyup.enter)="uploadPostFileAndCreatePost()" -->
              <div class="btn-area">
                <button
                  class="cmn-btn message lh-lg"
                  [ngClass]="sidebarClass ? 'px-2' : 'px-2 px-sm-5 px-lg-6'"
                  (click)="uploadPostFileAndCreatePost()"
                >
                  <!-- [disabled]="!chatObj.msgText && !selectedFile" -->
                  <fa-icon
                    [ngClass]="sidebarClass ? '' : 'd-sm-none'"
                    class="c-icon-color"
                    [icon]="['fas', 'paper-plane']"
                  ></fa-icon>
                  <div [ngClass]="sidebarClass ? 'd-none' : 'd-none d-sm-flex'">
                    Send
                  </div>
                </button>
              </div>
            </div>
          </div>
          <div
            [ngClass]="sidebarClass ? 'd-block' : 'd-block d-sm-none'"
            class="file-upload mobile-fileselect-drop"
          >
            <!-- <div class="d-flex ms-11 select-emaojies"> -->
            <div class="d-center gap-10 ms-11 pt-2 select-emaojies">
              <label class="file">
                <input
                  type="file"
                  [(ngModel)]="chatObj.msgMedia"
                  [ngModelOptions]="{ standalone: true }"
                  name="doc"
                  accept="application/*"
                  (change)="onPostFileSelect($event)"
                />
                <span class="file-custom border-0 m-1 d-grid text-center">
                  <fa-icon
                    [icon]="['fas', 'paperclip']"
                    class="font-24-px"
                  ></fa-icon>
                </span>
              </label>
              <label class="file">
                <input
                  type="file"
                  [(ngModel)]="chatObj.msgMedia"
                  [ngModelOptions]="{ standalone: true }"
                  name="image"
                  accept="image/*"
                  (change)="onPostFileSelect($event)"
                />
                <span class="file-custom border-0 m-1 d-grid text-center">
                  <fa-icon
                    [icon]="['fas', 'image']"
                    class="font-24-px"
                  ></fa-icon>
                </span>
              </label>
              <label class="file">
                <input
                  type="file"
                  [(ngModel)]="chatObj.msgMedia"
                  [ngModelOptions]="{ standalone: true }"
                  id="fileInput"
                  (change)="onPostFileSelect($event)"
                  accept="video/*"
                />
                <span class="file-custom border-0 m-1 d-grid text-center">
                  <fa-icon
                    [icon]="['fas', 'video']"
                    class="font-24-px"
                  ></fa-icon>
                </span>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</div>
