<div class="d-flex container flex-column w-100 gap-5 edit-profile">
  <div class="mt-6">
    <button class="btn btn-primary d-flex gap-2" routerLink="/profile-chats">
      <fa-icon [icon]="['fas', 'chevron-left']" />
      Back
    </button>
  </div>
  <div class="d-flex flex-column flex-md-row gap-5">
    <app-img-picker
      classes="w-300-px h-300-px"
      [url]="editForm.get('ProfilePicName')?.value"
      (onFileChange)="onProfileImgChange($event)"
      [showClearIcon]="resetImageClosebtn"
    ></app-img-picker>

    <app-img-picker
      class="w-100"
      classes="h-300-px"
      defaultImg="/assets/images/meta-image.jpg"
      [url]="editForm.get('CoverPicName')?.value"
      (onFileChange)="onProfileCoverImgChange($event)"
      [showClearIcon]="resetImageClosebtn"
    ></app-img-picker>
  </div>

  <div class="d-flex flex-column flex-md-row gap-md-5">
    <div class="single-box p-5 w-100">
      <form
        [formGroup]="editForm"
        id="editForm"
        class="form-dark"
        ngNativeValidate
        autocomplete="off"
      >
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label">First Name</label>
            <input
              type="text"
              class="input-area"
              formControlName="FirstName"
              placeholder="Enter Your Name"
            />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label">Last Name</label>
            <input
              type="text"
              class="input-area"
              formControlName="LastName"
              placeholder="Enter Your Name"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label align-items-center"
              >User Name</label
            >
            <input
              type="text"
              class="input-area"
              formControlName="Username"
              placeholder="Enter your Username"
              (keyup)="onChangeTag($event)"
            />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label align-items-center">
              Email<span class="font-12-px ms-2">(not editable)</span>
            </label>
            <input
              type="text"
              class="input-area"
              formControlName="Email"
              placeholder="Enter your email"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label">Country</label>
            <select
              id="country"
              class="input-area w-100"
              formControlName="Country"
            >
              <option
                [value]="item.country_code"
                *ngFor="let item of allCountryData"
              >
                {{ item.country }}
              </option>
            </select>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label">Zip Code</label>
            <input
              type="text"
              class="input-area"
              formControlName="Zip"
              placeholder="Enter your zip code"
              (input)="convertToUppercase($event)"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label">State</label>
            <input
              type="text"
              class="input-area"
              formControlName="State"
              placeholder="Enter your state"
            />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label class="d-flex form-label">City</label>
            <input
              type="text"
              class="input-area"
              formControlName="City"
              placeholder="Enter your city"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-6 mb-3">
            <label class="d-flex form-label">County</label>
            <input
              type="text"
              class="input-area"
              formControlName="County"
              placeholder="Enter your county"
            />
          </div>
          <div class="col-6 col-md-6 mb-3">
            <label class="d-flex form-label">Mobile</label>
            <input
              type="number"
              class="input-area"
              formControlName="MobileNo"
              placeholder="Enter your mobile number"
            />
          </div>
        </div>
      </form>

      <div class="d-lg-flex col-12 mt-lg-6">
        <div class="d-flex flex-column col-6">
          <label class="d-flex form-label">Sound Preferences</label>
          <div class="d-flex set-btns">
            <p class="m-2">
              Call ring tone
              <strong>{{ isCallSoundEnabled ? "On" : "Off" }}</strong>
            </p>
            <div class="form-switch">
              <input
                [(ngModel)]="isCallSoundEnabled"
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckChecked"
                (change)="toggleSoundPreference('callNotificationSound', isCallSoundEnabled)"
              />
            </div>
          </div>
          <div class="d-flex set-btns">
            <p class="m-2">
              Sound for new message
              <strong>{{ isMessageSoundEnabled ? "On" : "Off" }}</strong>
            </p>
            <div class="form-switch">
              <input
                [(ngModel)]="isMessageSoundEnabled"
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckChecked"
                (change)="toggleSoundPreference('messageNotificationSound', isMessageSoundEnabled)"
              />
            </div>
          </div>
          <div class="d-flex set-btns">
            <p class="m-2">
              Notification when you are tagged
              <strong>{{ isNotificationSoundEnabled ? "On" : "Off" }}</strong>
            </p>
            <div class="form-switch">
              <input
                [(ngModel)]="isNotificationSoundEnabled"
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckChecked"
                (change)="toggleSoundPreference('tagNotificationSound', isNotificationSoundEnabled)"
              />
            </div>
          </div>
        </div>
        <div class="d-flex flex-column col-6 ms-lg-4 mt-5 mt-lg-0">
          <label class="d-flex form-label">Email Preferences</label>
          <div class="d-flex set-btns">
            <p class="m-2">
              Message email
              <strong>{{ isMessageEmailEnabled ? "On" : "Off" }}</strong>
            </p>
            <div class="form-switch">
              <input
                [(ngModel)]="isMessageEmailEnabled"
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckChecked"
                (change)="toggleSoundPreference('messageNotificationEmail', isMessageEmailEnabled)"
              />
            </div>
          </div>
          <div class="d-flex set-btns">
            <p class="m-2">
              Tagged in comment email
              <strong>{{ isTagEmailEnabled ? "On" : "Off" }}</strong>
            </p>
            <div class="form-switch">
              <input
                [(ngModel)]="isTagEmailEnabled"
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckChecked"
                (change)="toggleSoundPreference('postNotificationEmail', isTagEmailEnabled)"
              />
            </div>
          </div>
        </div>
      </div>

      <button
        class="btn btn-primary mt-5 login-button float-end w-100-px"
        (click)="confirmAndUpdateCustomer()"
      >
        <!-- type="submit" -->
        Update
      </button>
      <button
        class="btn btn-outline-danger mt-5 px-3 py-1 h-auto d-flex gap-2 align-items-center mb-5 delete-account float-start"
        (click)="deleteAccount()"
      >
        Delete

        <fa-icon [icon]="['fas', 'trash-can']" class="font-20-px" />
      </button>
    </div>
  </div>
</div>
